version: '3.8'

services:
  app:
    build: .
    container_name: vulcanocraft_app
    restart: unless-stopped
    env_file: .env
    ports:
      - "5000:5000"
    depends_on:
      - mongodb
    networks:
      - vulcanocraft-net

  mongodb:
    image: mongo:latest
    container_name: vulcanocraft_mongodb
    restart: unless-stopped
    volumes:
      - mongodb_data:/data/db
    networks:
      - vulcanocraft-net

  cron:
    build: .
    container_name: vulcanocraft_cron
    restart: unless-stopped
    env_file: .env
    command: ["python", "cron.py"]
    depends_on:
      - mongodb
    networks:
      - vulcanocraft-net

  mongo-seed:
    build: .
    container_name: vulcanocraft_mongo_seed
    env_file: .env
    command: ["python", "database.py"]
    depends_on:
      - mongodb
    networks:
      - vulcanocraft-net

volumes:
  mongodb_data:
    driver: local

networks:
  vulcanocraft-net:
    driver: bridge
